@charset "utf-8";
html,body,article,section,
nav,ul,li,a,img,h1,h2,h3,p,div,
header,footer,table,tr,td,em,form,
input,button,textarea,span,mark
{
	padding: 0;
	margin: 0;
}
html,body
{
	width: 100%;
	height: 100%;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	background: #fff;
	/*用户不能选择内容*/
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

/* setting scrollbars style 
================================================  */
body::-webkit-scrollbar
{
	width: 10px;
	background: #000;
}
/* body::-webkit-scrollbar-button
{
	width: 10px;
	height: 10px;
	background: #ccc;
	border-bottom: 1px solid rgba(0,0,0,.5);
	color: #000;
}
body::-webkit-scrollbar-track-piece
{
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
	} */
	body::-webkit-scrollbar-thumb
	{
		width: 10px;
		background: #eee;
		border-radius: 3px;
	}


	article,section,nav,header,footer
	{
		display: block;
	}
	ul,li
	{
		list-style: none;
	}
	a
	{
		text-decoration: none;
	}
	mark
	{
		background: none;
		color: #eee;
	}
	mark:hover
	{
		text-decoration: underline;
		cursor: pointer;
	}
	.clear
	{
		zoom:1;
	}
	.clear:after
	{
		content: '';
		height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	.f_l
	{
		float: left;
	}
	.f_r
	{
		float: right;
	}
/*common style end
===================================================================  */
.wrap
{
	width: 100%;
	height: 100%;
	transition: all 1s ease-in-out;
}

.header,.about,.contact
{
	width: 100%;
	height: 100%;
}
/*header style begin
===================================================================  */
.header
{
	background: url("../images/header-bg.jpg") no-repeat top center;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
}
.header .nav
{
	width: 100%;
	padding: 0 20px;
	background: rgba(0,0,0,.3);
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.header .nav .logo
{
	font-size: 20px;
	max-height: 50px;
	line-height: 50px;
	padding: 5px 0;
	color: #F1F1F1;
}

/* this is to do something */
/* .header .nav .media_show
{
	font-size: 20px;
	max-height: 50px;
	line-height: 50px;
	padding: 5px 0;
	color: #F1F1F1;
	display: none;
	cursor: pointer;
	position: relative;
	position: absolute;
	right: 10px;
	top: 0;
} 
*/

.header .nav .btn_checkbox,
.header .nav i
{
	display: none;
	position: absolute;
	right: 10px;
	top: 0;
	width: 20px;
	height: 50px;
	line-height: 50px;
	border: none;
	background: none;
	font-size: 20px;
	opacity: 0;
	cursor: pointer;
	z-index: 9;
	color: #fff;
}
.header .nav .btn_checkbox
{
	z-index: 99;
}
.header .nav .btn_checkbox:checked + i:before
{
	content: "\f011";
}
.header .nav .btn_checkbox:checked ~ #nav_list li
{
	visibility: visible;
	opacity: 1;
	height: 60px;
	width: 100%;
}
.header .nav #nav_list
{
	
}
.header .nav #nav_list li
{
	float: left;
	min-width:75px;
	font-size: 20px;
	transition: all 0.3s;
}
.header .nav #nav_list li a
{
	display: block;
	max-height: 50px;
	line-height: 50px;
	min-width:75px;
	padding: 5px 15px;
	color: #F1F1F1;
	text-align: center;
}
.header .nav #nav_list li a:hover
{
	background: rgba(0,0,0,.5);
	color: #fff;
}
.header .my-name
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	color: #fff;
	letter-spacing: 6px;
	text-shadow:  5px 5px 3px #000; 

	-webkit-animation:  changeFont 1s ease-in-out;
	-o-animation:  changeFont 1s ease-in-out;
	animation:  changeFont 1s ease-in-out;
}
.header .my-name:after
{
	content: "RuiXi Wei";
	width: 300px;
	height: 24px;
	line-height: 24px;
	padding: 10px;
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 120%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}
.header .goDown
{
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -12px;

	cursor: pointer;
	
	-webkit-animation: goDown 1s infinite ease-in-out;
	-o-animation: goDown 1s infinite ease-in-out;
	animation: goDown 1s infinite ease-in-out;	
}
.header .goDown a
{
	font-size: 36px;
	color: #fff;
}

.goDown:hover{
	animation-play-state: paused;
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}
/*about style begin
===================================================================  */
.about
{
	background: #2B2B2B;
	overflow: hidden;
	padding: 0 20px;
	box-sizing: border-box;
}
.about h1
{
	width: 300px;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #fff;
	margin: 100px auto 40px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	text-shadow:  10px 10px 3px #000; 
}
.about .info
{
	width: 1000px;
	margin: 0 auto;
	height: 55%;
}
.about .info .head-portrait:before
{
	content: "RuiXi Wei";
	font-size: 16px;
	color: #aaa;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -63px;
	cursor: pointer;
	height: 30px;
	width: 126px;

	-webkit-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	transition:  all 0.5s;
}
.about .info .head-portrait
{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 10px solid #141414;
	text-align: center;
	line-height: 140px;
	transition: all 0.5s;
	position: relative;
	cursor: pointer;
	
	-webkit-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	transition:  all 0.5s;
}
.about .info .head-portrait:after
{
	height: 30px;
	content: "Chengdu University 21";
	font-size: 16px;
	color: #aaa;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -97px;
	cursor: pointer;
	width: 194px;

	-webkit-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	transition:  all 0.5s;
}
.about .info .head-portrait img
{
	width: 100%;
	height: 100%;

	-webkit-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	transition:  all 0.5s;
}
.about .info .head-portrait:hover
{
	border: 10px solid #fff;
	box-shadow: 5px 5px 3px #000;
}
.about .info .head-portrait:hover:after,
.about .info .head-portrait:hover:before
{
	color: #fff;
	text-shadow:  5px 5px 3px #000; 
}
.about .info .head-portrait:hover img
{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.about .info .about-content
{
	width: 800px;
	color: #E8E8E8;
	font-size: 18px;
	/*border-left: 1px solid #aaa;*/
	padding-left: 20px;
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
}
.about .info .about-content p
{
	line-height: 30px;
	text-indent: 2em;
}
/*resume style begin
===================================================================  */
.resume
{
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 72px;
}
.resume .work,
.resume .skill,
.resume .education
{
	width: 1000px;
	padding: 20px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
.resume .work .work_l,
.resume .skill .skill_l,
.resume .education .education_l
{
	width: 140px;
	text-align: center;
}
.resume .work .work_l h2,
.resume .skill .skill_l h2,
.resume .education .education_l h2
{
	font-size: 24px;
	letter-spacing: 3px;
	color: #313131;
	border-bottom: 3px solid #11ABB0;
	padding-bottom: 6px;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.resume .work .work_r,
.resume .skill .skill_r,
.resume .education .education_r
{
	width: 760px;
}
.resume .work .work_r h3,
.resume .skill .skill_r h3,
.resume .education .education_r h3
{
	font-size: 30px;
	color: #313131;
	margin-bottom: 12px;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.resume .work .work_r .info,
.resume .education .education_r .info
{
	font-size: 16px;
	color: #6E7881;
	margin-bottom: 18px;
	margin-top: 9px;
}
.resume .work .work_r .info + p,
.resume .skill .skill_r p,
.resume .education .education_r .info + p
{
	line-height: 30px;
	/*text-indent: 2em;*/
	color: #838C95;
	margin-bottom: 20px;
	font-size: 16px;
}
.skill .skill_r .bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.skill .skill_r .bars .skills {
	margin-top: 36px;
}
.skill .skill_r .bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}
.skill .skill_r .bars li em {
	font-size: 15px;
	color: #313131;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}
.skill .skill_r .bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.html
{
	width: 90%;

	animation: myhtml 3s ease paused;
	-moz-animation: myhtml 3s ease paused;
	-webkit-animation: myhtml 3s ease paused;
}
.css
{
	width: 95%;

	animation: css 3s ease paused;
	-moz-animation: css 3s ease paused;
	-webkit-animation: css 3s ease  paused;
}
.javascript 
{
	width: 80%;

	animation: javascript 3s ease paused;
	-moz-animation: javascript 3s ease paused;
	-webkit-animation: javascript 3s ease paused;
}
.jquery 
{
	width: 85%;

	animation: jquery 3s ease paused;
	-moz-animation: jquery 3s ease paused;
	-webkit-animation: jquery 3s ease paused;
}
.node
{
	width: 70%;

	animation: node 3s ease paused;
	-moz-animation: node 3s ease paused;
	-webkit-animation: node 3s ease paused;
}
.bootstrap
{
	width: 73%;

	animation: bootstrap 3s ease paused;
	-moz-animation: bootstrap 3s ease paused;
	-webkit-animation: bootstrap 3s ease paused;
}

/*contact style begin
===================================================================  */
.contact
{
	background: #191919;
	overflow: hidden;
	padding-top: 100px;
	font-size: 24px;
	color: #fff;
	box-sizing: border-box;
	height: 800px;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.contact h1
{
	width: 300px;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #fff;
	margin: 0px auto 40px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	text-shadow:  10px 10px 3px #000; 
}
.contact .con_form
{
	width: 1000px;
	margin: 20px auto;
}
.contact .con_form .form_table
{
	width: 100%;
}
.contact .con_form .form_table .form_table_tr
{
	width: 100%;
	min-height: 42px;
	margin-bottom: 30px;
}
.contact .con_form .form_table .form_table_tr span:first-child
{
	text-align: right;
	letter-spacing: 3px;
	width: 150px;
	height: 42px;
	text-align: right;
	display: block;
	float: left;
}
.contact .con_form .form_table .form_table_tr span:last-child
{
	width: 800px;
	display: block;
	float: right;
	padding-right: 10px;
	box-sizing: border-box;
}
.contact .con_form .form_table .form_table_tr input
{
	height: 42px;
	width: 100%;
	background: #373233;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 10px;
	outline: none;
	color: #fff;
	font-size: 18px;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.contact .con_form .form_table .form_table_tr input:focus,
.contact .con_form .form_table .form_table_tr textarea:focus,
.contact .con_form .form_table .form_table_tr input:focus:hover,
.contact .con_form .form_table .form_table_tr textarea:focus:hover
{
	background: #369CA7;
}
.contact .con_form .form_table .form_table_tr input:hover,
.contact .con_form .form_table .form_table_tr textarea:hover
{
	background: #2C4F53;
}
.contact .con_form .form_table .form_table_tr textarea
{
	width: 100%;
	min-height: 200px;
	border: none;
	box-sizing: border-box;
	padding-left: 10px;
	outline: none;
	background: #373233;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.contact .con_form .form_table .form_table_tr button
{
	width: 200px;
	height: 42px;
	line-height: 42px;
	color:#000;
	background: #fff;
	border: none;
	outline: none;
	font-size: 28px;
	letter-spacing: 5px;
	border-radius: 3px;
	margin-top: 20px;
	position: relative;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.contact .con_form .form_table button:hover,
.contact .con_form .form_table button:active
{
	background: #000;
	color: #fff;
	cursor: pointer;
}

.contact .con_form .form_table button .line
{
	background:  rgba(255,255,255, 0.8);
	transition: all 0.2s;
	position: absolute;
}
.contact .con_form .form_table button .line-top
{
	width: 0;
	height: 2px;
	left: -110%;
	top: -2px;
}
.contact .con_form .form_table button:hover .line-top
{
	width:calc(100% + 2px);
	left:-2px;
	background:  rgba(255,255,255, 1);

}
.contact .con_form .form_table button .line-bottom
{
	width: 0;
	height: 2px;
	right: -110%;
	bottom: -2px;
}
.contact .con_form .form_table button:hover .line-bottom
{
	width:calc(100% + 2px);
	right:-2px;
	background:  rgba(255,255,255, 1);
}
.contact .con_form .form_table button .line-left
{
	width: 2px;
	height: 0;
	bottom: -110%;
	left: -2px;
}
.contact .con_form .form_table button:hover .line-left
{
	height:calc(100% + 2px);
	bottom:-2px;
	background:  rgba(255,255,255, 1);
}
.contact .con_form .form_table button .line-right
{
	width: 2px;
	height: 0;
	top: -110%;
	right: -2px;
}
.contact .con_form .form_table button:hover .line-right
{
	height:calc(100% + 2px);
	top:-2px;
	background:  rgba(255,255,255, 1);
}

/*footer&copyright style begin
===================================================================  */
.copyright
{
	width: 100%;
	background: #0f0f0f;
	height: 300px;
	overflow: hidden;
}
.copyright .link
{
	width: 1000px;
	margin: 50px auto 70px;
}
.copyright .link ul
{
	position: relative;
	width: 100%;
}
.copyright .link ul li
{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}
.copyright .link ul li a
{
	color: #B3B3B3;
	font-size: 60px;
	text-align: center;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.copyright .link ul li p
{
	opacity: 0;
	visibility: hidden;
	width: 100%;
	color: #7D7D7D;
	font-size: 22px;
	padding: 5px 10px;
	background: #B3B3B3;
	border-radius: 3px;
	box-sizing: border-box;
	position: absolute;
	top: 140%;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.copyright .link ul li p:after
{
	content: '';
	border: 10px solid transparent;
	border-bottom-color: #b3b3b3;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
}
.copyright .link ul li a:hover
{
	color: #fff;
}
.copyright .link ul li a:hover + p
{
	background: #fff;
	color: #787878;
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.copyright .link ul li a:hover + p:after
{
	border-bottom-color: #fff;
}
.copyright .design
{
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	color: #C2C2C2;
	text-align: center;
	line-height: 36px;
	letter-spacing: 2px;
}

/*goTop style begin
===================================================================  */
#gotop
{
	visibility: hidden;
	display: block;
	color: #fff;
	opacity:0;
	position: fixed;
	bottom: 67px;
	right: 20px;
	font-size: 39px;
	z-index: 9999;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	background: rgba(0,0,0,0.5);
	border: none;
	outline: none;

	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
}

/*language style begin
===================================================================  */
#language
{
	display: block;
	color: #fff;
	position: fixed;
	bottom: 110px;
	right: 20px;
	font-size: 39px;
	z-index: 999;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	background: rgba(0,0,0,0.5);
	border: none;
	outline: none;
}

#language .setLanguage
{
	visibility: hidden;
	position: absolute;
	right: 130%;
	top: 0;
	width: 100px;
	height: 60px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	opacity: 0;
	font-size: 14px;
	z-index: 9999;


	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#language .setLanguage:after
{
	content: '';
	border: 10px solid transparent;
	border-left-color:rgba(0,0,0,0.5); 
	width: 0;
	height: 0;
	position: absolute;
	left:100%;
	top: 10px;

}
#language .setLanguage span
{
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-top: 1px solid #aaa;
}
#language .setLanguage span:first-child:hover
{
	background: none;
	cursor: default;
}
#language .setLanguage span:hover
{
	background: #000;
	color: #fff;
	cursor: pointer;
}

#language:hover .setLanguage
{
	visibility: visible;
	opacity: 1;
}


/*animation area
===================================================================  */

/*header my-name animation
===================================================================  */
@keyframes changeFont
{
	0%
	{
		letter-spacing: 10px;
		font-size: 40px;
		opacity: 1;
	}
	50%
	{
		letter-spacing: 5px;
		font-size: 30px;
		opacity: 0;
	}
	100%
	{
		letter-spacing: 6px;
		font-size: 40px;
		opacity: 1;
	}
}

/*header my-name -moz-animation
===================================================================  */
@-moz-keyframes changeFont
{
	0%
	{
		letter-spacing: 10px;
		font-size: 40px;
		opacity: 1;
	}
	50%
	{
		letter-spacing: 5px;
		font-size: 30px;
		opacity: 0;
	}
	100%
	{
		letter-spacing: 6px;
		font-size: 40px;
		opacity: 1;
	}
}

/*header my-name -webkit-animation
===================================================================  */
@-webkit-keyframes changeFont
{
	0%
	{
		letter-spacing: 10px;
		font-size: 40px;
		opacity: 1;
	}
	50%
	{
		letter-spacing: 5px;
		font-size: 30px;
		opacity: 0;
	}
	100%
	{
		letter-spacing: 6px;
		font-size: 40px;
		opacity: 1;
	}
}
/*header down to about animation
===================================================================  */
@keyframes goDown
{
	0%,100%
	{
		bottom: 40px;
	}
	50%
	{
		bottom: 20px;
	}
}

/*header down to about -moz- animation
===================================================================  */
@-moz-keyframes goDown
{
	0%,100%
	{
		bottom: 40px;
	}
	50%
	{
		bottom: 20px;
	}
}

/*header down to about -webkit- animation
===================================================================  */
@-webkit-keyframes goDown
{
	0%,100%
	{
		bottom: 40px;
	}
	50%
	{
		bottom: 20px;
	}
}
/*Skill animation
===================================================================  */
@keyframes myhtml
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 90%;

	}

}
@keyframes css
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 95%;

	}

}
@keyframes javascript 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 80%;

	}

}
@keyframes jquery 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 85%;

	}

}
@keyframes node
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 70%;

	}

}
@keyframes bootstrap
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 73%;

	}

}
/*Skill -moz- animation
===================================================================  */
@-moz-keyframes myhtml 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 90%;

	}

}
@-moz-keyframes css
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 95%;

	}

}
@-moz-keyframes javascript 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 80%;

	}

}
@-moz-keyframes jquery
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 85%;

	}

}
@-moz-keyframes node 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 70%;

	}

}
@-moz-keyframes bootstrap
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 73%;

	}

}

/*Skill -webkit- animation
===================================================================  */
@-webkit-keyframes myhtml
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 90%;

	}

}
@-webkit-keyframes css 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 95%;

	}

}
@-webkit-keyframes javascript 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 80%;

	}

}
@-webkit-keyframes jquery 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 85%;

	}

}
@-webkit-keyframes node 
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 70%;

	}

}
@-webkit-keyframes bootstrap
{
	0%   
	{

		width: 0px;

	}

	100% 
	{

		width: 73%;

	}

}



/*media area
===================================================================  */

/*media width < 1036px
===================================================================  */
@media screen and (max-width: 1036px)
{
	.about .info,
	.contact,
	.contact .con_form,
	.resume,
	.resume .work,
	.resume .skill,
	.resume .education,
	.copyright .link,
	.copyright .design
	{
		width: 100%;
	}

	.resume .work .work_l h2,
	.resume .skill .skill_l h2,
	.resume .education .education_l h2
	{
		font-size: 20px;
	}

	.resume .work .work_r h3,
	.resume .skill .skill_r h3,
	.resume .education .education_r h3
	{
		font-size: 24px;
	}

	.about .info .about-content
	{
		width: calc(100% - 200px);
	}

	.contact
	{
		padding-top: 60px;
	}
	.contact .con_form .form_table .form_table_tr span:last-child
	{
		width: calc(100% - 160px);
	}

	.about .info .about-content
	{
		font-size: 16px;
	}

	.resume .work .work_r,
	.resume .skill .skill_r,
	.resume .education .education_r
	{
		width: calc(100% - 160px);
	}

	.copyright .design
	{
		font-size: 14px;
	}

}

/*media width < 800px
===================================================================  */
@media screen and (max-width: 800px)
{

	/* .header .nav .media_show
	{
		display: block;
		} */
		.header .nav .btn_checkbox,
		.header .nav i
		{
			display: block;
			opacity: 1;
		}
		.header .nav .btn_checkbox
		{
			opacity: 0;
		}

		.header .nav #nav_list
		{
			width: 100%;
		} 
		.header .nav #nav_list li
		{
			width: 100%;
			float: none;
			height: 0;
			visibility: hidden;
			opacity: 0;
		}

		.header .my-name
		{
			font-size: 30px;
		}

		.about h1,
		.contact h1
		{
			font-size: 28px;
			width: 240px;
		}
		.contact .con_form .form_table .form_table_tr textarea
		{
			min-height: 170px;
		}

	}



/*media width < 680px
===================================================================  */
@media screen and (max-width: 680px)
{

	.copyright .link
	{
		margin: 70px auto 40px;
	}
	.copyright .design
	{
		font-size: 12px;
	}

	.copyright .link ul li a
	{
		font-size: 40px;
	}
	.copyright .link ul li p
	{
		font-size: 14px;
	}
	.contact .con_form .form_table .form_table_tr textarea
	{
		min-height: 150px;
	}
}


/*media width < 602px
===================================================================  */
@media screen and (max-width: 602px)
{
	.header .my-name
	{
		font-size: 16px;
	}
	.header .my-name:after
	{
		font-size: 12px;
	}
}

/*media width < 500px
===================================================================  */
@media screen and (max-width: 500px)
{
	.header .nav .logo
	{
		font-size: 16px;
	}

	.about h1,
	.contact h1
	{
		font-size: 20px;
		width: 140px;
	}

	.about .info .head-portrait
	{
		width: 60px;
		height: 60px;
		float: none;
		border: 3px solid #000;
		margin: 0 auto 10px;
	}
	.about .info .head-portrait img
	{
		position: absolute;
		top: 0;
		left: 0;
	}
	.about .info .head-portrait:hover
	{
		border: 3px solid #fff;
	}
	.about .info .head-portrait:after,
	.about .info .head-portrait:before
	{
		content: '';
	}
	.about .info .about-content
	{
		float: none;
		width: 100%;
		font-size: 12px;
		border: none;
	}


	.resume .work .work_l,
	.resume .skill .skill_l,
	.resume .education .education_l
	{
		width: 140px;
		text-align: center;
		float: none;
		margin: 0 auto 10px;
	}
	.resume .work .work_l h2,
	.resume .skill .skill_l h2,
	.resume .education .education_l h2
	{
		font-size: 16px;
		letter-spacing: 3px;
		color: #313131;
		border-bottom: 3px solid #11ABB0;
		padding-bottom: 6px;
		transition: all 0.3s;
	}
	.resume .work .work_r,
	.resume .skill .skill_r,
	.resume .education .education_r
	{
		width: 100%;
	}
	.resume .work .work_r h3,
	.resume .skill .skill_r h3,
	.resume .education .education_r h3
	{
		font-size: 14px;
		color: #313131;
		margin-bottom: 12px;
		transition: all 0.3s;
	}
	.resume .work .work_r .info,
	.resume .education .education_r .info
	{
		font-size: 14px;
		color: #6E7881;
		margin-bottom: 18px;
		margin-top: 9px;
	}
	.resume .work .work_r .info + p,.resume .skill .skill_r p,.resume .education .education_r .info + p
	{
		line-height: 30px;
		text-indent: 2em;
		color: #838C95;
		margin-bottom: 20px;
	}


	.contact .con_form .form_table .form_table_tr span:first-child
	{
		width: 100px;
		height: 30px;
		font-size: 16px;
		letter-spacing: 1px;
	}
	.contact .con_form .form_table .form_table_tr span:last-child
	{
		width: calc(100% - 110px);
	}

	.contact .con_form .form_table .form_table_tr button
	{
		width: 100%;
	}
}







